@import url("../../styles/_variables.scss");

.footer {
  background-color: var(--secondary-black);
  .container {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
    padding: 50px 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-gap: 50px;
    div {
      i {
        background-color: var(--light-black);
        color: var(--light-black);
        &:hover{
          cursor: pointer;
        }
      }
      button {
        background: var(--blue-text);
        color: white;
        border: none;
        border-radius: 5px;
        padding: 0 15px;
        font-size: 16px;
        max-height: 40px;
        transition: all .5s;

        &:hover{
          background-color: var(--button-hover);
          color: black;
        }
      }
      p {
        font-size: 16px;
        color: white;
      }
      .footerIcon {
        color: #7f7a7a;
      }

      // build footer grid

      &:first-child {
        grid-area: 1 / 1 / 1 / 1;
        display: flex;
        align-items: center;
        img {
          width: 100%;
          max-width: 100px;
        }
      }
      &:nth-child(2) {
        grid-area: 2 / 2 / 3 / 3;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
      }
      &:nth-child(3) {
        grid-area: 2 / 1 / 3 / 2;
        display: flex;
      }
      &:last-child {
        grid-area: 3 / 1 / 4 / 3;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .footer {
    .container {
      grid-template-rows: 1fr 1fr;
      gap: 10px;
      div {
        button {
          padding: 9px 35px;
          line-height: normal;
        }
        p {
          font-size: 16px;
        }
        .footerIcon {
          color: #7f7a7a;
        }

        // build footer grid
        &:nth-child(2) {
          grid-area: 1 / 2 / 1 / 3;
          justify-content: end;
        }
        &:nth-child(3) {
          grid-area: 2 / 2 / 2 / 3;
          justify-content: end;
          align-items: end;
        }
        &:last-child {
          display: flex;
          flex-direction: column;
          grid-area: 2 / 1 / 2 / 2;
          gap: 10px;
          p{
            &:first-child{
              order: 2;
            }
          }
        }
      }
    }
  }
}
